@font-face {
  font-family: 'Stapel'; /* Naziv font-familije koji ćete koristiti */
  src: url('../assets/fonts/stapel/Stapel_Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stapel-regular'; /* Naziv font-familije koji ćete koristiti */
  src: url('../assets/fonts/stapel/Stapel_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Stapel';
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 15px;
  color: white;
  text-align: center;
  text-decoration: none;
}

/* .dropdown {
  float: left;
  overflow: hidden;
} */

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: black;
  background-color: inherit;
  margin: 0;
  text-transform: uppercase;
}

.dropbtn {
  display: flex;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(192, 192, 192);
  width: auto;
  padding-top: 20px;
  z-index: 1;
  padding: 10px;

}

.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  line-height: 1;
  display: block;
  text-align: left;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.dropdown-content a:hover {
  color: rgba(0, 0, 0, 0.466);
}

.dropbtn:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.grade-dropdown .dropdown-content {
  width: 80px;
  margin-left: 60px;
  background: none;
}

.application-dropdown .dropdown-content {
  background: none;
  padding: 0px;
  padding-top: 25px;
}