.box {
  // box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  background-color: white;
  border-radius: 3px;
  overflow: hidden;
}

.tab-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  position: relative;
}

/* tab list 會動的底線 */
.tab-list::before {
  content: '';
  display: block;
  height: 2px;
  width: 25%;
  position: absolute;
  bottom: 0;
  background-color: #aaa;
  transition: 0.3s;
}

.tab-item {
  flex: 1;
  text-align: center;
  transition: 0.3s;
  opacity: 0.5;
}

.tab-toggle {
  display: none;
}

.tab-content {
  display: none;
  margin-top: 20px;
  .border-bottom-s {

    border-bottom: 1px solid silver;
  }
  img {
    width: 100%;
  }
}

.tab-toggle:nth-child(1):checked ~ .tab-list .tab-item:nth-child(1),
.tab-toggle:nth-child(2):checked ~ .tab-list .tab-item:nth-child(2),
.tab-toggle:nth-child(3):checked ~ .tab-list .tab-item:nth-child(3),
.tab-toggle:nth-child(4):checked ~ .tab-list .tab-item:nth-child(4),
.tab-toggle:nth-child(5):checked ~ .tab-list .tab-item:nth-child(5) {
  opacity: 1;
}

/* tab bar 底線位移控制 */
.tab-toggle:nth-child(2):checked ~ .tab-list::before {
  transform: translateX(100%);
}

.tab-toggle:nth-child(3):checked ~ .tab-list::before {
  transform: translateX(200%);
}

.tab-toggle:nth-child(4):checked ~ .tab-list::before {
  transform: translateX(300%);
}

.tab-toggle:nth-child(5):checked ~ .tab-list::before {
  transform: translateX(400%);
}

/* 內容顯示控制 */
.tab-toggle:nth-child(1):checked ~ .tab-container .tab-content:nth-child(1),
.tab-toggle:nth-child(2):checked ~ .tab-container .tab-content:nth-child(2),
.tab-toggle:nth-child(3):checked ~ .tab-container .tab-content:nth-child(3),
.tab-toggle:nth-child(4):checked ~ .tab-container .tab-content:nth-child(4),
.tab-toggle:nth-child(5):checked ~ .tab-container .tab-content:nth-child(5) {
  display: block;
}

.tab-trigger {
  display: block;
  padding: 10px 0;
}

.tab-container {
  padding: 15px 30px;
  height: 100%;
}

.advantages {
  img {
    width: 50px;
    height: 50px;
  }
}

//------------ Ounner navigation
.ounner-box {
  background-color: white;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  width: 100%;
}

.ounner-tab-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 40px;
  height: 200px;
}

/* tab list 會動的底線 */
// .ounner-tab-list::before {
//   content: '';
//   display: block;
//   height: 2px;
//   width: 50%;
//   position: absolute;
//   bottom: 0;
//   background-color: #aaa;
//   transition: 0.3s;
// }

.ounner-tab-item {
  flex: 1;
  text-align: center;
  transition: 0.3s;
  opacity: 0.5;
}

.ounner-tab-toggle {
  display: none;
}

.ounner-tab-content {
  display: none;

  .border-bottom-s {
    padding-bottom: 20px;
  }
}

.ounner-tab-toggle:nth-child(1):checked ~ .ounner-tab-list .ounner-tab-item:nth-child(1),
.ounner-tab-toggle:nth-child(2):checked ~ .ounner-tab-list .ounner-tab-item:nth-child(2),
.ounner-tab-toggle:nth-child(3):checked ~ .ounner-tab-list .ounner-tab-item:nth-child(3),
.ounner-tab-toggle:nth-child(4):checked ~ .ounner-tab-list .ounner-tab-item:nth-child(4),
.ounner-tab-toggle:nth-child(5):checked ~ .ounner-tab-list .ounner-tab-item:nth-child(5) {
  opacity: 1;
}

/* tab bar 底線位移控制 */
.ounner-tab-toggle:nth-child(2):checked ~ .ounner-tab-list::before {
  transform: translateX(100%);
}

.ounner-tab-toggle:nth-child(3):checked ~ .ounner-tab-list::before {
  transform: translateX(200%);
}

.ounner-tab-toggle:nth-child(4):checked ~ .ounner-tab-list::before {
  transform: translateX(300%);
}

.ounner-tab-toggle:nth-child(5):checked ~ .ounner-tab-list::before {
  transform: translateX(400%);
}

/* 內容顯示控制 */
.ounner-tab-toggle:nth-child(1):checked ~ .ounner-tab-container .ounner-tab-content:nth-child(1),
.ounner-tab-toggle:nth-child(2):checked ~ .ounner-tab-container .ounner-tab-content:nth-child(2),
.ounner-tab-toggle:nth-child(3):checked ~ .ounner-tab-container .ounner-tab-content:nth-child(3),
.ounner-tab-toggle:nth-child(4):checked ~ .ounner-tab-container .ounner-tab-content:nth-child(4),
.ounner-tab-toggle:nth-child(5):checked ~ .ounner-tab-container .ounner-tab-content:nth-child(5) {
  display: block;
}

.ounner-tab-trigger {
  display: block;
  padding: 10px 0;
  text-align: left;
  color: black;
}

.ounner-tab-container {
  width: 100%;
  height: 100%;
}

//------------ Inner navigation

.inner-tab-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  position: relative;
  gap: 10;
}

/* tab list 會動的底線 */
.inner-tab-list::before {
  content: '';
  display: block;
  height: 2px;
  width: 16.66%;
  position: absolute;
  bottom: 0;
  background-color: #aaa;
  transition: 0.3s;
}

.inner-tab-item {
  flex: 1;
  text-align: center;
  transition: 0.3s;
  opacity: 0.5;
}

.inner-tab-toggle {
  display: none;
}

.inner-tab-content {
  display: none;
  margin-top: 20px;
  .border-bottom-s {
    padding-bottom: 20px;
  }
}

.inner-tab-toggle:nth-child(1):checked ~ .inner-tab-list .inner-tab-item:nth-child(1),
.inner-tab-toggle:nth-child(2):checked ~ .inner-tab-list .inner-tab-item:nth-child(2),
.inner-tab-toggle:nth-child(3):checked ~ .inner-tab-list .inner-tab-item:nth-child(3),
.inner-tab-toggle:nth-child(4):checked ~ .inner-tab-list .inner-tab-item:nth-child(4),
.inner-tab-toggle:nth-child(5):checked ~ .inner-tab-list .inner-tab-item:nth-child(5),
.inner-tab-toggle:nth-child(6):checked ~ .inner-tab-list .inner-tab-item:nth-child(6) {
  opacity: 1;
}

.inner-tab-toggle:nth-child(2):checked ~ .inner-tab-list::before {
  transform: translateX(100%);
}

.inner-tab-toggle:nth-child(3):checked ~ .inner-tab-list::before {
  transform: translateX(200%);
}

.inner-tab-toggle:nth-child(4):checked ~ .inner-tab-list::before {
  transform: translateX(300%);
}

.inner-tab-toggle:nth-child(5):checked ~ .inner-tab-list::before {
  transform: translateX(400%);
}

.inner-tab-toggle:nth-child(6):checked ~ .inner-tab-list::before {
  transform: translateX(500%);
}

.inner-tab-toggle:nth-child(1):checked ~ .inner-tab-container .inner-tab-content:nth-child(1),
.inner-tab-toggle:nth-child(2):checked ~ .inner-tab-container .inner-tab-content:nth-child(2),
.inner-tab-toggle:nth-child(3):checked ~ .inner-tab-container .inner-tab-content:nth-child(3),
.inner-tab-toggle:nth-child(4):checked ~ .inner-tab-container .inner-tab-content:nth-child(4),
.inner-tab-toggle:nth-child(5):checked ~ .inner-tab-container .inner-tab-content:nth-child(5),
.inner-tab-toggle:nth-child(6):checked ~ .inner-tab-container .inner-tab-content:nth-child(6) {
  display: block;
}

.inner-tab-trigger {
  display: block;
  padding: 10px 0;
}

.inner-tab-container {
  padding: 15px 30px;
  height: 100%;
}

//------------ Tip tab

.tip-box {
  display: flex;
  .vertical-line {
    height: auto;
    border: 2px solid silver;
    // height: 826px;
  }
  h2 {
    font-size: 32px;
  }
}

.tip-tab-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  width: 180px;
  margin-left: -3px;
}

/* Stilizacija za svaki <li> element */
.tip-tab-item {
  opacity: 0.5;
  padding: 30px 10px;
}

/* Povećavanje opacity-a i pomeranje svakog <li> elementa ulevo kada je hover */
.tip-tab-item:hover {
  opacity: 1;
  // margin-left: 0;
}

.tip-tab-toggle {
  display: none;
}

.tip-tab-content {
  display: none;
  margin-top: 20px;
  .border-bottom-s {
    padding-bottom: 20px;
    border-bottom: 1px solid silver;
    color: black;
  }
  img {
    height: 100%;
    width: 100%;
  }
  .img-box {
    height: 300px;
    img {
      height: 100%;
      width: 100%;
    }
  }
}

.tip-tab-toggle:nth-child(1):checked ~ .tip-tab-list .tip-tab-item:nth-child(1),
.tip-tab-toggle:nth-child(2):checked ~ .tip-tab-list .tip-tab-item:nth-child(2),
.tip-tab-toggle:nth-child(3):checked ~ .tip-tab-list .tip-tab-item:nth-child(3),
.tip-tab-toggle:nth-child(4):checked ~ .tip-tab-list .tip-tab-item:nth-child(4),
.tip-tab-toggle:nth-child(5):checked ~ .tip-tab-list .tip-tab-item:nth-child(5),
.tip-tab-toggle:nth-child(6):checked ~ .tip-tab-list .tip-tab-item:nth-child(6) {
  opacity: 1;
  border-left: 2px solid black;
}

.tip-tab-toggle:nth-child(2):checked ~ .tip-tab-list::before {
  transform: translateY(100%);
}

.tip-tab-toggle:nth-child(3):checked ~ .tip-tab-list::before {
  transform: translateY(200%);
}

.tip-tab-toggle:nth-child(4):checked ~ .tip-tab-list::before {
  transform: translateY(300%);
}

.tip-tab-toggle:nth-child(5):checked ~ .tip-tab-list::before {
  transform: translateY(400%);
}

.tip-tab-toggle:nth-child(6):checked ~ .tip-tab-list::before {
  transform: translateY(500%);
}

.tip-tab-toggle:nth-child(1):checked ~ .tip-tab-container .tip-tab-content:nth-child(1),
.tip-tab-toggle:nth-child(2):checked ~ .tip-tab-container .tip-tab-content:nth-child(2),
.tip-tab-toggle:nth-child(3):checked ~ .tip-tab-container .tip-tab-content:nth-child(3),
.tip-tab-toggle:nth-child(4):checked ~ .tip-tab-container .tip-tab-content:nth-child(4),
.tip-tab-toggle:nth-child(5):checked ~ .tip-tab-container .tip-tab-content:nth-child(5),
.tip-tab-toggle:nth-child(6):checked ~ .tip-tab-container .tip-tab-content:nth-child(6) {
  display: block;
}

.tip-tab-trigger {
  display: block;
  padding: 10px 0;
}

.tip-tab-container {
  padding: 15px 30px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

//---------------------------------------------- ABOUT tab

.about-header-s {
  h2 {
    cursor: pointer;
    &:hover,
    &:active {
      background-image: url('https://www.weiss-dbs.com/wp-content/uploads/2019/08/weiss-doppelbodensysteme-belag-parkett.jpg');
      background-clip: text;
      color: transparent; /* Tekst postaje transparentan zbog background-clip: text; */
      -webkit-background-clip: text; /* Dodatna podrška za starije verzije pregledača */
    }
  }
}

.change-text {
  display: none;
}

.show-paragraph {
  display: block;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

//--------------------------------------------- BALTIC tab

.baltic-box {
  // box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  display: flex;
  width: 100%;
  height: 600px;
  position: relative;
  img {
    position: absolute;
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
  }
}

.baltic-tab-container {
  width: 100%;
  height: 100%;
  margin-left: -100px;
  // z-index: -1;
  .header__content__navbar {
    a {
      color: white;
    }
    ::after {
      background: white;
    }
  }
  .active {
    display: flex;
  }
}

.baltic-tab-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100px;
  z-index: 1;
  .active {
    background-color: white;
    .baltic-tab-trigger {
      color: black;
    }
  }
}

.baltic-tab-item {
  flex: 1;
  transition: 0.3s;
  color: black;
}

.baltic-tab-item:hover {
  cursor: pointer;
}

.baltic-tab-content {
  display: none;
  height: 100%;
  position: relative;

  .border-bottom-s {
    padding-bottom: 20px;
  }
  .content {
    width: 100%;
    padding-left: 100px;
  }
  .text-overlay {
    width: 100%;
  }
  .background-container-tab {
    padding: 40px;
    .text-overlay {
      h2 {
        color: white;
      }
    }
  }
}

.baltic-tab-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: white;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

//----------------------------------------OUR SERVICE TAB

.ourservice-box {
  display: flex;
  height: 400px !important;
  .vertical-line {
    border: 2px solid silver;
    margin-left: -3px;
  }
  h2 {
    font-size: 22px;
    color: black;
    text-align: left;
  }
}

.ourservice-tab-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // .active {
  //   opacity: 1;
  //   border-right: 2px solid black;
  //   transform: translateY(200%);
  //   transition: 0.3s;
  // }
  .active::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    border-right: 2px solid black;
    // transform: translateY(200%);
    transition: 0.3s;
  }
}

.ourservice-tab-item {
  transition: 0.4s;
  cursor: pointer;
  text-align: left;
}

.ourservice-tab-item:hover {
  cursor: pointer;
}

.ourservice-tab-content {
  display: none;
  height: 100%;
  position: relative;
  .border-bottom-s {
    padding-bottom: 20px;
  }
  img {
    position: absolute;
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
  }
  .background-container-tab {
    padding: 40px;
    .text-overlay-2 {
      h2 {
        color: white;
        font-size: 32px;
      }
      p {
        color: white;
      }
      .header__content__navbar {
        a {
          color: white;
        }
        a::after {
          background: white;
        }
      }
    }
  }
}

.ourservice-tab-trigger {
  display: block;
  padding: 10px 10px;
  cursor: pointer;
  position: relative;
  font-size: 22px;
}

.ourservice-tab-container {
  padding: 15px 30px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .active {
    display: flex;
  }
}
