// Fonts
// -----------------------------------------

@font-face {
  font-family: 'Stapel'; /* Naziv font-familije koji ćete koristiti */
  src: url('../assets/fonts/stapel/Stapel_Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stapel-regular'; /* Naziv font-familije koji ćete koristiti */
  src: url('../assets/fonts/stapel/Stapel_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$font-primary: 'Stapel' !default;
$font-primary2: 'Stapel-regular' !default;

// Colors
// -----------------------------------------

$color-primary: black !default;
$color-primary-2: black !default;
$color-secondary: black;

$color-white: #fff;
$color-black: #000;
$color-silver: silver;
$color-orange: orange;

$bck-silver: silver;
$bck-green: rgba(151, 215, 0, 0.9);

// Font - sizes

$font-size-default: 16px;
$font-size-default-xl: 18px;
$font-size-primary: 64px;
$font-size-primary-phone: 34px;
$font-size-secondary: 26px;
$font-size-tertiary: 20px;
$font-size-quaternary-xl: 18px;
$font-size-quaternary: 16px;
$font-size-nav: 16px;
$font-size-sm: 14px;

